 /*  
Author: William Gomez 
File Name: styles.css
Date: 07/30/2021
*/

/*CSS Reset*/

body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption
{
margin: 0;
padding: 0;
border: 0;
}

/*Style rules for body and images*/

body
{
  background-color: #f6eee4;
}

img
{
  display: block;
  max-width: 100%;
}

 /*Style rules for mobile viewport.*/

 /*Style rules to show mobile class and hide tab-desk class.*/

.mobile, .mobile-tablet
{
  display: block;
}


.tab-desk, .desktop
{
  display: none;
}


/*Style rules for header area*/

.mobile h1, .mobile h3
{
  padding: 2%;
  text-align: center;
}

.mobile h1
{
  font-family: 'Emblema One', cursive;
}

.mobile h3
{
  font-family: 'Lora', serif;
}



/*Style rules for navigation area*/

nav
{
  background-color: #2a1f14;
}

nav ul
{
  list-style: none;
  text-align: center;
}

nav li
{
  display: block;
  font-size: 1.5em;
  font-family: Geneva, Arial, sans-serif;
  font-weight: bold;
  border-top: 0.5px ;
  border-top-color: #f6eee4. ;
  border-top-style: solid ;
}

nav li a
{
  display: block;
  color: #f6eee4;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
}

/*Style rules for main content*/

main
{
  padding: 2%;
  font-family: 'Lora', serif;;
}

main p
{
  font-size: 1.25em;
}

main h3
{
  padding-top: 2%;
}
main ul
{
  list-style: square;
}

/*Style rules for .link .action #contact*/

.link
{
  color: #4d3319;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.action
{
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

.round
{
  border-radius: 6px;
}

aside{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 4px 4px 10px #c5a687;
}

figure{
  border: 4px solid #2a1f14;
  box-shadow: 6px 6px 10px #c5a687;
  max-width: 400px;
  margin: 2% auto;
}

figcaption{
  padding: 2%;
  border-top: 4px solid #2a1f14;
}

#info ul
{
  margin: 10%;
}

#contact, #form h2
{
  text-align: center;
}

.tel-link
{
  background-color: #2a1f14;
  padding: 2%;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.tel-link a
{
  color: #f6eee4;
  text-decoration: none;
  font-weight: bold;
}

/*Style rules for form elements*/
fieldset, input, textarea
{
  margin-bottom: 2%;
}

fieldset legend
{
  font-weight: bold;
  font-size: 1.25em;
}

label
{
  display: block;
  padding-top: 2%;
}

form #submit
{
  margin-bottom: zero;
  margin-top: zero;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 2%;
  background-color: #78593a;
  color: #f6eee4;
  font-size: 1.25em;
  border-radius: 10px;
}

/*Style rules for footer content*/

footer
{
  text-align: center;
  font-size: 0.85em;
  background-color: #2a1f14;
  color: #f6eee4;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
}

footer a
{
  color: #f3e6d8;
  text-decoration: none;
}

/*Media Query for Tablet Viewport*/
@media screen and (min-width: 620px), print {

  /*Tablet Viewport: Show tab-desk class, hide mobile class*/

  .tab-desk
  {
    display: block;
  }
  .mobile
  {
    display: none;
  }

  /*Tablet Viewport: Style rules for nav area*/

    nav li
    {
      border-top: none;
      display: inline-block;
      font-size: 1.25em;
    }

    nav li a
    {
      padding: 0.5em;
    }

    .grid
    {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
    }
    aside
    {
      grid-column: 1 / span 2;
    }

 /*Tablet Viewport: Style rule for form element*/   

    form
    {
      width: 70%;
      margin-top: zero;
      margin-bottom: zero;
      margin-right: auto;
      margin-left: auto;
    }

}

/*Media Query for Desktop Viewports*/
@media screen and (min-width: 1000px), print {
  body{
    background: linear-gradient(#f6eee4,#78593a);
  }

  .desktop
  {
    display: block;
  }

  .mobile-tablet
  {
    display: none;
  }

  #wrapper{
   /* width: 1920px;*/
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  main{
    background-color: #f6eee4;
  }

  nav li a:hover{
    opacity: 0.5;
  }

  .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }
  
  aside{
    grid-column: 1 / span 3;
    font-size: 2em;
  }

  table
  {
    border: 1px solid #2a1f14;
    border-collapse: collapse;
    margin-top: zero;
    margin-bottom: zero;
    margin-right: auto;
    margin-left: auto;
  }

  caption
  {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
  }

  th, td
  {
    border: 1px solid #2a1f14;
    padding: 1%;
  }

  th
  {
    background-color: #2a1f14;
    color: #fff;
    font-size: 1.15em;
  }

  tr:nth-child(odd)
  {
    background-color: #deccba;
  }
  
 /*Desktop Viewport: Style rules for form elements*/

  form
  {
    width: auto;
  }

  .form-grid
  {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  .btn
  {
    grid-column: 1 / span 2;
  }

}

/*Media Query for Large Desktop Viewport*/
@media screen and (min-width: 1921px), print {

  /*Desktop Viewport: Style rules for nav area*/
  nav li{
    font-size: 1.5em;
  }
  nav li a{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

   nav li a:hover{
     color: #2a1f14;
     background-color: #f6eee4;
   }

   /*Desktop Viewport: Style rules for main content*/
   #info ul{
     margin-left: 5%;
   }

   .grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
  }
  
   aside{
    grid-column: 1 / span 4;
    font-size: 3em;
  }



}

